.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* This covers all of the text in the above section */
h1,
h3,
p,
li {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Questrial', sans-serif;
    color: aliceblue;
}



.image-container {
    background-color: "#000000";
}

/* For normal screens, this goes on top */
.profile-picture {
    width: auto;
    max-width: 200px;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 660px) {
    .img-descrip-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .profile-picture {
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: block;
        max-width: 200px;

    }

    .intro {
        width: 500px;
    }
}

h1 {
    white-space: nowrap;
}

.inLine {
    display: inline;
}

a {
    transition: 0.3s;
    text-decoration: underline;
    color: #CD7866;
}

a:hover {
    color: #F9F871;
}

.text-container {
    width: 65%;
}

.intro {
    width: 20%;
    text-align: left;

}

.img-descrip-container {
    display: inline-block;

    display: flex;
    justify-content: center;

}

ul {
    list-style-type: none;
}

.title {
    display: inline;
}

.name {
    font-size: 30;
}

.current {
    list-style-type: disc;
}

.links1-container {
    margin-left: 0;
    padding-left: 0;
}

/* project styling */
.projects-container {
    display: flex;
    flex-direction: column;
}

.project-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.project-left {
    width: 65%;
    height: auto;
    background-color: aliceblue;
}

.project-right {
    width: 50%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
}

.project-body {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.project-title {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.project-link {
    font-family: 'Questrial', sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: 0.3s;

}

.project-link:hover {
    color: #007288;
}

/* project goes vertical if screen too small */
@media screen and (max-width: 980px) {
    .project-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-left {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: aliceblue;
    }

    .project-right {
        background-color: aliceblue;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-text {
        margin-top: 0;
    }
}

/* make the iframe be smaller on phones */
@media screen and (max-width: 530px) {


    .iframe-style {
        width: 100%;
        height: auto;
    }
}

.scrollage {
    height: 100px;
}