.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    background-color: white;
    width: 94%;
    height: 60px;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
}

.nav-cat-container {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s;
    margin-right: 10px;
    /* background-color: blue; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 30px;
}

.nav-text {
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 0;
    /* Default text color */
}

.nav-cat-container:hover .nav-text {
    color: blue;
    animation: 0.2s;
    /* Change to desired hover color */
}